<div class="width">
  <div class="container">
    <h3 class="h">同步课/{{course?.courseName}}<button class="color">+申请加入</button></h3>
    <ul class="list">
      <li class="li1">简介</li>
      <li class="li2">互动</li>
      <li class="li3">任务&nbsp;&nbsp;{{course?.task}}</li>
      <li class="li4">成员&nbsp;&nbsp;{{course?.person}}</li>
    </ul>
  </div>  
</div>
<ul class="right">
  <li>课程任务</li>
  <li>课程学员</li>
</ul>
<!-- [ngStyle]="{'color':'red','font-size':'50px'}" -->
  <!-- <input  type="radio" (change)="change($event)" value="1" name="num" >111
  <input  type="radio" (change)="change($event)" value="2" name="num" >222
  <input  type="radio" (change)="change($event)" value="3" name="num" >333
  <div class="right" [ngSwitch]="num1">
    <li *ngSwitchCase="1">1</li>
    <li *ngSwitchCase="2">2</li>
    <li *ngSwitchCase="3">3</li>
  </div> -->

<!-- {{a|date:'y-MM-dd E'}}
{{'hhhhhh'|uppercase}} -->
<!-- <h1>{{course|async}}</h1> -->